<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdshi.component_chat">

    <application>
        <activity android:name=".ui.MainChatActivity" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".service.IMChatService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.IMReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mdshi.component_chat.imreceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ProtectService"
            android:enabled="false"
            android:exported="false" />

        <activity android:name=".ui.contacts.ContactsInfoActivity"></activity>
    </application>

</manifest>