<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdshi.component_chat">

    <application>
        <activity android:name=".ui.MainChatActivity"></activity>
        <activity android:name=".ui.chat.ChatActivity" />

        <service
            android:name=".service.IMChatService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.IMReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>